<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Modification App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Voice Modification App</h1>
        <div class="recording-section">
            <h2>Record Your Voice</h2>
            <button id="recordButton">Start Recording</button>
            <button id="stopButton" disabled>Stop Recording</button>
        </div>
        <div class="playback-section">
            <h2>Play Converted Audio</h2>
            <audio id="audioPlayer" controls></audio>
        </div>
        <form action="/record" method="post" enctype="multipart/form-data">
            <!-- <label for="audio">Upload Audio:</label>
            <input type="file" name="audio" id="audio" required> -->
            <label for="pitch_shift">Pitch Shift:</label>
            <input type="number" step="0.1" name="pitch_shift" id="pitch_shift">
            <br />
            <label for="speed_change">Speed Change:</label>
            <input type="number" step="0.1" name="speed_change" id="speed_change">
            <br />
            <label for="volume_gain">Volume Gain:</label>
            <input type="number" step="0.1" name="volume_gain" id="volume_gain">
        </form>
    </div>
    <div id="waveform-images" class="container">
        <img id="original-waveform" alt="Original Audio Waveform">
        <img id="original-spectrogram" alt="Original Audio Spectrogram">
        <h2>Pitch Shifted Audio</h2>
        <img id="pitch-shifted-waveform" alt="Pitch Shifted Audio Waveform">
        <img id="pitch-shifted-spectrogram" alt="Pitch Shifted Audio Spectrogram">
        <h2>Speed Changed Audio</h2>
        <img id="speed-changed-waveform" alt="Speed Changed Audio Waveform">
        <img id="speed-changed-spectrogram" alt="Speed Changed Audio Spectrogram">
        <h2>Volume Gained Audio</h2>
        <img id="volume-gained-waveform" alt="Volume Gained Audio Waveform">
        <img id="volume-gained-spectrogram" alt="Volume Gained Audio Spectrogram">
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>